.wrapper{
    height: 100%;
    display: flex;
    background-color: white;
}
.dialogs{
    
    flex: 1;
    border-right: 1px solid black;
    padding: 0 1em;
}
.dialogs_text{
    flex: 2;
    padding: 0 1em;
}

.dialogs_item{
    color: #cccccc;
    margin: 1em 0;
}

.dialogs_item a{
    color: black;
   
}