.main {
  display: grid;
  grid-template: 300px 1fr 1fr / repeat(4, 1fr);
  background-color: rosybrown;
}

.main .banner {
  grid-area: 1/5;

  overflow: hidden;
}
.main .banner > img {
  max-width: 100%;
  margin-top: -100px;
}
