.sidebar {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color:#BF8756;
  padding: 2em;
  font-size: 1.2em;
}
.sidebar .links {
  margin: 0;
  padding: 0;
}

.sidebar .links * + * {
  margin-top: 0.5em;
}

.sidebar .links a {
  color: white;
  display: inline-block;
  padding: 0.5em;
}

.sidebar .links a:hover {
  color: rgb(105, 62, 42);
}
