.main {
 
  display: grid;
  grid-template: auto 1fr 1fr / 1fr;
  
}

.main .banner {
  grid-column: 1 / 5;
  background-image: url(./../img/fot.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2.5em 1.5em;
 
}
.main .banner  h1{
 font-weight: 300;
   color: white;
   text-shadow: 0.1em 0.1em 0.2em black;
   
}
