:root {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template: auto auto auto/ minmax(100px, 20%) auto;
  background-color: tan;
}
