:root {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}
.container {
  display: grid;
  grid-template: auto auto / 20% auto;

  background-color: tan;
}




